$monoton-woff-font-path: "/assets/fonts/Monoton-Regular.woff";
$monoton-woff2-font-path: "/assets/fonts/Monoton-Regular.woff2";
$monoton-eot-font-path: "/assets/fonts/Monoton-Regular.eot";
$monoton-ttf-font-path: "/assets/fonts/Monoton-Regular.ttf";
$monoton-font-family-brand: 'monotonregular';

$raleway-regular-woff-font-path: "/assets/fonts/Raleway-Regular.woff";
$raleway-regular-woff2-font-path: "/assets/fonts/Raleway-Regular.woff2";
$raleway-regular-eot-font-path: "/assets/fonts/Raleway-Regular.eot";
$raleway-regular-ttf-font-path: "/assets/fonts/Raleway-Regular.ttf";
$raleway-regular-font-family-brand: 'ralewayregular';

$raleway-bold-woff-font-path: "/assets/fonts/Raleway-Bold.woff";
$raleway-bold-woff2-font-path: "/assets/fonts/Raleway-Bold.woff2";
$raleway-bold-eot-font-path: "/assets/fonts/Raleway-Bold.eot";
$raleway-bold-ttf-font-path: "/assets/fonts/Raleway-Bold.ttf";
$raleway-bold-font-family-brand: 'ralewaybold';