// Colors

$white: #ffffff;
$yellow: #ffc107;
$salmon: #d17056;
$acquamarine: #18e8dd;
$violet: #8e2b50;
$ruby-red: #E12650;
$light-red: #FF5A3E;
$dark-red: #A60A06;
$green-low: #79ab86;
$cyan: #1678b1;
$black: #000000;
$pink: #ddb1da;
$moonlight: #2c5364;
$new-moonlight: #1A4C68;
$dark-blue: #073B57;
$light-blue: #3DADA2;
