<div class="skills">
  <div class="skills__title">
    <h1>
      <fa-icon [icon]="['far', 'star']" class="text-ruby-red mr-2"></fa-icon>
      Skills
    </h1>
    <a class="btn__add" [routerLink]="['../skills/new']">
      <img src="assets//images/add-white.svg" />
      New skill
    </a>
  </div>
  <div *ngIf="skills$ | async as skills; else loading">
    <div class="message" *ngIf="!skills.length">
      <img src="assets//images/face.svg" />
      No skills
    </div>
    <admin-list-item
      *ngFor="let skill of skills"
      [item]="skill"
      (remove)="removeMeal($event)"
    >
    </admin-list-item>
  </div>
  <ng-template #loading>
    <div class="message">
      <img src="assets//images/loading.svg" />
      Fetching skills...
    </div>
  </ng-template>
</div>
