<div class="row rating">
    <div class="col-5">
        <strong>Java</strong>
    </div>
    <div class="col-7">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9734;</span>
    </div>
    <div class="col-5">
        <strong>Angular2+</strong>
    </div>
    <div class="col-7">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9734;</span>
    </div>
    <div class="col-5">
        <strong>JavaScript</strong>
    </div>
    <div class="col-7">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9734;</span>
    </div>
    <div class="col-5">
        <strong>Html/Css</strong>
    </div>
    <div class="col-7">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9734;</span>
    </div>
    <div class="col-5">
        <strong>
            <a routerLink="nodejs">NodeJS <fa-icon [icon]="['fas', 'external-link-alt']"></fa-icon></a>
        </strong>
    </div>
    <div class="col-7">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
    </div>
    <div class="col-5">
        <strong>Express</strong>
    </div>
    <div class="col-7">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
    </div>
    <div class="col-5">
        <strong>TypeScript</strong>
    </div>
    <div class="col-7">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
    </div>
    <div class="col-5">
        <strong>SAP ByDesign</strong>
    </div>
    <div class="col-7">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
    </div>
    <div class="col-5">
        <strong>Maven</strong>
    </div>
    <div class="col-7">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
    </div>
    <div class="col-5">
        <strong>Gulp</strong>
    </div>
    <div class="col-7">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
    </div>
    <div class="col-5">
        <strong>Hibernate</strong>
    </div>
    <div class="col-7">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
    </div>
    <div class="col-5">
        <strong>MySQL</strong>
    </div>
    <div class="col-7">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
    </div>
    <div class="col-5">
        <strong>MongoDB</strong>
    </div>
    <div class="col-7">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
    </div>
    <div class="col-5">
        <strong>Eclipse</strong>
    </div>
    <div class="col-7">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
    </div>
    <div class="col-5">
        <strong>VS Code</strong>
    </div>
    <div class="col-7">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
    </div>
    <div class="col-5">
        <strong>PostgreSQL</strong>
    </div>
    <div class="col-7">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
    </div>
    <div class="col-5">
        <strong>Spring</strong>
    </div>
    <div class="col-7">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
    </div>
    <div class="col-5">
        <strong>Wordpress</strong>
    </div>
    <div class="col-7">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
    </div>
    <div class="col-5">
        <strong>Sass</strong>
    </div>
    <div class="col-7">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
    </div>
    <div class="col-5">
        <strong>Git</strong>
    </div>
    <div class="col-7">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
    </div>
    <div class="col-5">
        <strong>AWS</strong>
    </div>
    <div class="col-7">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
    </div>
    <div class="col-5">
        <strong>Azure</strong>
    </div>
    <div class="col-7">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
    </div>
    <div class="col-5">
        <strong>Chef</strong>
    </div>
    <div class="col-7">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
    </div>
    <div class="col-5">
        <strong>OpenShift</strong>
    </div>
    <div class="col-7">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
    </div>
    <div class="col-5">
        <strong>Tomcat</strong>
    </div>
    <div class="col-7">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
    </div>
    <div class="col-5">
        <strong>JBoss</strong>
    </div>
    <div class="col-7">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
    </div>
    <div class="col-5">
        <strong>OracleDB</strong>
    </div>
    <div class="col-7">
        <span>&#9733;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
    </div>
    <div class="col-5">
        <strong>ExtJS</strong>
    </div>
    <div class="col-7">
        <span>&#9733;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
    </div>
    <div class="col-5">
        <strong>JSF</strong>
    </div>
    <div class="col-7">
        <span>&#9733;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
    </div>
    <div class="col-5">
        <strong>Richfaces</strong>
    </div>
    <div class="col-7">
        <span>&#9733;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
    </div>
    <div class="col-5">
        <strong>PHP</strong>
    </div>
    <div class="col-7">
        <span>&#9733;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
    </div>
    <div class="col-5">
        <strong>Laravel</strong>
    </div>
    <div class="col-7">
        <span>&#9733;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
    </div>
    <div class="col-5">
        <strong>Seam</strong>
    </div>
    <div class="col-7">
        <span>&#9733;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
    </div>
    <div class="col-5">
        <strong>Illustrator</strong>
    </div>
    <div class="col-7">
        <span>&#9733;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
    </div>
</div>