<div class="row no-gutters">
    <div class="col-12 bg-dark-blue text-white py-2">

        <h2 class="text-center">
            <span class="text-left text-ruby-red badge badge-pill bg-white border-white p-2 mb-2">
                <fa-icon [icon]="['fas', 'briefcase']"></fa-icon>
            </span><br>
            Experience
        </h2>
    </div>
</div>
<!-- timeline item 1 -->
<div class="row no-gutters">
    <div class="col-12 py-2">
        <div class="card cv-timeline-card border-dark-blue">
            <div class="card-body">
                <h3 class="font-weight-light">Fullstack Developer / IT Trainer</h3>
                <div class="text-09 mb-1">Freelance - Rome <span class="small">(Remote)</span> -
                    Italy</div>
                <div class="small mb-3">1 Jan 2019 - Present</div>
                <div class="text-left my-2" id="ggi_details">
                    <div class="p-2 text-monospace">
                        <span class="d-inline-block tag-green m-1">Angular2+</span>
                        <span class="d-inline-block tag-green m-1">Java</span>
                        <span class="d-inline-block tag-green m-1">HTML</span>
                        <span class="d-inline-block tag-green m-1">CSS</span>
                        <span class="d-inline-block tag-green m-1">JavaScript</span>
                        <span class="d-inline-block tag-green m-1">TypeScript</span>
                        <span class="d-inline-block tag-green m-1">NodeJS</span>
                        <span class="d-inline-block tag-green m-1">Express</span>
                        <span class="d-inline-block tag-green m-1">MongoDB</span>
                        <span class="d-inline-block tag-green m-1">Sass</span>
                        <span class="d-inline-block tag-green m-1">Bootstrap 4</span>
                        <span class="d-inline-block tag-green m-1">VS Code</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/row-->
<!-- timeline item 2 -->
<div class="row no-gutters">
    <div class="col-12 py-2">
        <div class="card cv-timeline-card border-dark-blue">
            <div class="card-body">
                <h3 class="font-weight-light">Fullstack Developer</h3>
                <div class="text-09 mb-1">Geometry Global Intelligence - Rome <span class="small">(Remote)</span> -
                    Italy</div>
                <div class="small mb-3">2 Oct 2017 - 31 Dec 2018</div>
                <div class="text-left my-2" id="ggi_details">
                    <div class="p-2 text-monospace">
                        <span class="d-inline-block tag-green m-1">AngularJS</span>
                        <span class="d-inline-block tag-green m-1">Angular2+</span>
                        <span class="d-inline-block tag-green m-1">HTML</span>
                        <span class="d-inline-block tag-green m-1">CSS</span>
                        <span class="d-inline-block tag-green m-1">JavaScript</span>
                        <span class="d-inline-block tag-green m-1">TypeScript</span>
                        <span class="d-inline-block tag-green m-1">NodeJS</span>
                        <span class="d-inline-block tag-green m-1">Express</span>
                        <span class="d-inline-block tag-green m-1">MongoDB</span>
                        <span class="d-inline-block tag-green m-1">AWS</span>
                        <span class="d-inline-block tag-green m-1">VS Code</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/row-->
<!-- timeline item 3 -->
<div class="row no-gutters">
    <div class="col-12 py-2">
        <div class="card cv-timeline-card border-dark-blue">
            <div class="card-body">
                <h3 class="font-weight-light">Software Developer</h3>
                <div class="text-09 mb-1">SAP - Galway - Republic of Ireland</div>
                <div class="small mb-3">7 Mar 2016 – 27 May 2017</div>
                <div class="text-left my-2" id="ggi_details">
                    <div class="p-2 text-monospace">
                        <span class="d-inline-block tag-green m-1">SAP ByDesign</span>
                        <span class="d-inline-block tag-green m-1">SAP C4C</span>
                        <span class="d-inline-block tag-green m-1">SAP Hana Cloud</span>
                        <span class="d-inline-block tag-green m-1">Java SE</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/row-->
<!-- timeline item 4 -->
<div class="row no-gutters">
    <div class="col-12 py-2">
        <div class="card cv-timeline-card border-dark-blue">
            <div class="card-body">
                <h3 class="font-weight-light">Solution Developer</h3>
                <div class="text-09 mb-1">Engineering Spa - Turin - Italy</div>
                <div class="small mb-3">7 Jul 2014 – 19 Feb 2016</div>
                <div class="text-left my-2" id="ggi_details">
                    <div class="p-2 text-monospace">
                        <span class="d-inline-block tag-green m-1">Java SE</span>
                        <span class="d-inline-block tag-green m-1">Java EE</span>
                        <span class="d-inline-block tag-green m-1">HTML</span>
                        <span class="d-inline-block tag-green m-1">CSS</span>
                        <span class="d-inline-block tag-green m-1">JavaScript</span>
                        <span class="d-inline-block tag-green m-1">ExtJS</span>
                        <span class="d-inline-block tag-green m-1">Apache</span>
                        <span class="d-inline-block tag-green m-1">Hibernate</span>
                        <span class="d-inline-block tag-green m-1">Azure</span>
                        <span class="d-inline-block tag-green m-1">Chef</span>
                        <span class="d-inline-block tag-green m-1">Maven</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/row-->
<!-- timeline item 5 -->
<div class="row no-gutters">
    <div class="col-12 py-2">
        <div class="card cv-timeline-card border-dark-blue">
            <div class="card-body">
                <h3 class="font-weight-light">Web Application Developer Jr.</h3>
                <div class="text-09 mb-1">Sogetel - Rome - Italy</div>
                <div class="small mb-3">18 Feb 2013 – 17 Feb 2014</div>
                <div class="text-left my-2" id="ggi_details">
                    <div class="p-2 text-monospace">
                        <span class="d-inline-block tag-green m-1">Java SE</span>
                        <span class="d-inline-block tag-green m-1">Java EE</span>
                        <span class="d-inline-block tag-green m-1">HTML</span>
                        <span class="d-inline-block tag-green m-1">CSS</span>
                        <span class="d-inline-block tag-green m-1">JavaScript</span>
                        <span class="d-inline-block tag-green m-1">Richfaces</span>
                        <span class="d-inline-block tag-green m-1">SEAM</span>
                        <span class="d-inline-block tag-green m-1">Hibernate</span>
                        <span class="d-inline-block tag-green m-1">JBoss</span>
                        <span class="d-inline-block tag-green m-1">Hibernate Search</span>
                        <span class="d-inline-block tag-green m-1">Lucene Query</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/row-->
<div class="row no-gutters">
    <div class="col-12 bg-dark-blue text-white py-2">

        <h2 class="text-center">
            <span class="text-left text-ruby-red badge badge-pill bg-white border-white p-2 mb-2">
                <fa-icon [icon]="['fas', 'university']"></fa-icon>
            </span><br>
            Education
        </h2>
    </div>
</div>
<!-- timeline item 6 -->
<div class="row no-gutters">
    <div class="col-12 py-2">
        <div class="card cv-timeline-card border-dark-blue">
            <div class="card-body">
                <h3 class="font-weight-light">Engineering in Computer Science</h3>
                <h4 class="font-weight-light">Architectures and Distributed Systems</h4>
                <div class="text-09 mb-1">Master's degree</div>
                <div class="text-09 mb-1">Sapienza, University of Rome - Rome - Italy</div>
                <div class="small mb-3">2009 - 2013</div>
            </div>
        </div>
    </div>
</div>
<!--/row-->
<!-- timeline item 7 -->
<div class="row no-gutters">
    <div class="col-12 py-2">
        <div class="card cv-timeline-card border-dark-blue">
            <div class="card-body">
                <h3 class="font-weight-light">Engineering in Computer Science</h3>
                <div class="text-09 mb-1">Bachelor's degree</div>
                <div class="text-09 mb-1">Sapienza, University of Rome - Rome - Italy</div>
                <div class="small mb-3">2004 - 2009</div>
            </div>
        </div>
    </div>
</div>
<!--/row-->