@import "fonts";
@import "variables";

.home-presentation {
  p {
    font-size: 1.1rem;
  }
}

.font-weight-bold {
  font-family: $raleway-bold-font-family-brand;
}

/* Common Style Setting */
hr {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
}
/* [14] Diagonal Stripes Line » http://www.heropatterns.com/ */
.hr-14 {
  height: 8px;
  background-color: #1a4c68;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}
