<div class="text-white home-presentation">
  <div class="row col-12">
    <p
      i18n="landing welcome|The welcome message in landing page@@landingWelcome"
    >
      Welcome! My name is
      <span class="font-weight-bold">Giorgio Federici</span>.
    </p>
    <p
      i18n="landing roles|The roles in which I have working experience@@landingRoles"
    >
      I am a
      <span class="font-weight-bold text-italic">computer science engineer</span
      >, a <span class="font-weight-bold text-italic">frontend</span> and
      <span class="font-weight-bold text-italic">backend</span> developer,
      <span class="font-weight-bold text-italic">code teacher</span> and
      <span class="font-weight-bold text-italic">IT coach</span>.
    </p>
  </div>
  <!--
    <div class="row col-12">
        <p>Do you need help for developing your ideas or improving your skills?</p>
        <p>
            <a class="text-white" [routerLink]="['/contact']" (click)="navigate.emit()">
                Contact me!
            </a>
        </p>
    </div>
    -->
  <div class="row col-12 text-white my-4">
    <div class="col-2">
      <a
        class="text-white"
        href="https://www.linkedin.com/in/giorgiofederici/"
        title="Contact me on LinkedIn!"
        target="_blank"
      >
        <fa-icon [icon]="['fab', 'linkedin']" transform="grow-20"></fa-icon>
      </a>
    </div>
    <div class="col-2">
      <a
        class="text-white"
        href="https://twitter.com/TheMonkey86/"
        title="Follow me on Twitter!"
        target="_blank"
      >
        <fa-icon [icon]="['fab', 'twitter']" transform="grow-20"></fa-icon>
      </a>
    </div>
    <div class="col-2">
      <a
        class="text-white"
        href="https://github.com/giorgiofederici/"
        title="Follow me on GitHub!"
        target="_blank"
      >
        <fa-icon [icon]="['fab', 'github']" transform="grow-20"></fa-icon>
      </a>
    </div>
    <div class="col-2">
      <a
        class="text-white"
        href="https://www.instagram.com/thecatandtheengineer/"
        title="Follow me on Instagram!"
        target="_blank"
      >
        <fa-icon [icon]="['fab', 'instagram']" transform="grow-20"></fa-icon>
      </a>
    </div>
    <div class="col-4"></div>
  </div>
</div>
