@import "variables";

.nav-item:focus .nav-link,
.nav-item:hover .nav-link,
.nav-item .nav-link {
    color: $white;
    opacity: 0.8;
    text-transform: none;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: .10rem solid transparent;
}

.nav-item.active .nav-link {
    border-bottom: .10rem solid transparent;
    border-bottom-color: $white;
    opacity: 1;
    font-weight: 700;
}

.nav-item:hover .nav-link {
    border-bottom: .10rem solid transparent;
    border-bottom-color: $white;
    font-weight: 700;
    opacity: 1;
}
